@using MAF.FeaturesFlipping
@model string
@{
    var featureSpec = new FeatureSpec("App1", "Scope1", "Feature1");
}
<div>
    <feature application="@featureSpec.Application" scope="@featureSpec.Scope" feature-name="@featureSpec.FeatureName">
        <p>@featureSpec</p>
    </feature>
    <feature feature-spec="featureSpec" inverse="true">
        <p>not(@featureSpec)</p>
    </feature>
    <p>Value: @Model</p>
</div>